.glow-slider {
    -fx-padding: 10;
    padding: 10px;
}

/* Track */
.glow-slider .track {
    -fx-background-color: linear-gradient(to right, #0ff, #00f);
    background-color: #0ff;
    -fx-background-radius: 6;
    -fx-pref-height: 15; 
}

/* Draggable knob or thumb */
.glow-slider .thumb {
    -fx-background-color: radial-gradient(center 50% 50%, radius 70%, #0ff, #00f);
    background-color: #0ff;
    -fx-background-radius: 50%;
    -fx-pref-width: 18;
    -fx-pref-height: 18;
    -fx-effect: dropshadow(gaussian, rgba(0,255,255,0.6), 12, 0.6, 0, 0);
    -fx-border-color: #fff;
    border-color: #fff;
    -fx-border-radius: 50%;
    border-radius: 50%;
    -fx-border-width: 1;
    border-width: 1px;
}

/* When slider is selected */
.glow-slider:focused .thumb {
    -fx-effect: dropshadow(gaussian, rgba(0,200,255,0.9), 16, 0.8, 0, 0);
}

.button {
    -fx-font-family: "Futura";
    font-family: "Futura";
    -fx-font-weight: bold;
    font-weight: bold;
    -fx-font-size: 17px;
    -fx-background-color: rgba(0,0,255,0.376);
    background-color:rgba(0,0,255,0.376);
    -fx-background-radius: 10;
    -fx-text-fill: #fff;
    -fx-font-size: 16px;
    font-size: 16px;
    -fx-border-color: #00f;
    border-color: #00f;
    -fx-border-width: 2;
    border-width: 2;
    -fx-border-radius: 10;
    border-radius: 10;
}

.button:hover {
    -fx-background-color: rgba(0, 0, 255, 0.5);
    background-color: rgba(0, 0, 255, 0.5);
}
