.button {
    -fx-background-color: transparent;
    -fx-text-fill: #0ff;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-border-color: #0ff;
    -fx-border-width: 2;
    -fx-border-radius: 10;
}

.button:hover {
    -fx-background-color: rgba(0,255,255,0.2);
}
