.button {
  -fx-font-family: "Futura";
  font-family: "Futura";
  -fx-font-weight: bold;
  font-weight: bold;
  -fx-font-size: 17px;
  -fx-background-color: rgba(253, 249, 249, 0.446);
  background-color: rgba(239, 254, 254, 0.437);
  -fx-text-fill: #fff;
  -fx-font-size: 16px;
  font-size: 16px;
  -fx-border-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  -fx-border-width: 2;
  border-width: 2;
  -fx-border-radius: 10;
  border-radius: 10;
  -fx-background-radius: 10;
}

.button:hover {
  -fx-background-color: rgba(227, 255, 255, 0.5);
  background-color: rgba(245, 255, 255, 0.792);
}